.main {
  background-color: #242424;
  height: calc(100vh - 4rem);
  width: calc(100vw - 4rem);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
}
.loader-wrapper p {
  color: #e2e2e2;
  font-size: 1rem;
}
